
{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<div class="container my-5 py-5">
    
    <div class="col-lg-6 col-sm-12 col-md-12 mx-auto shadow px-2 py-2 mb-2">
        <h5 class="text-center py-2 px-2" style="font-family: cursive; background-color: #002233; color: white;" >Change Password</h5>
        <form method="post" style="font-family: Baloo;">
            {% csrf_token %}
            {% if message %}
            <div class="alert alert-{{ class }}">
                {{ message }}
            </div>
            {% endif %}
        
            <div class="row">
                <div class="form-group col-12">
                    {{ form.old_password }}
                    {% if form.errors.old_password %}
                    <span class="text-danger">{{ form.errors.old_password }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group col-12">
                    {{ form.new_password1 }}
                </div>
            </div>
            <div class="row mt-2 mb-2">
                <div class="form-group col-12">
                    {{ form.new_password2 }}
                    {% if form.errors.new_password2 %}
                    <span class="text-danger">{{ form.errors.new_password2 }}</span>
                    {% endif %}
                </div>
            </div>
            <button class="btn btn-view-1 text-center">Change Password</button>
        </form>
        
    </div>

</div>

{% endblock %}